logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
HomeDash.db
platypus.sh

*.log

conf/home.conf

public/plugins/osx/images/*
cache/public/plugins/osx/images/*
