@background-color: rgb(242,242,242);

@primary-color: rgb(32,36,45);

@secondary-color: rgb(255,255,255);

@text-on-primary-color: rgb(255,255,255);

@text-on-secondary-color: rgb(38,38,38);

@text-color: rgb(38,38,38);
