@(plugins: Map[String, String])


@main("Home Dash") {

    @for((name, pluginClass) <- plugins) {
    	<div class="row">
    		
    		<div class="module col-md-12">
    			<h3>
    				@name
    			</h3>
    			<p><a class="internal-link" href="addModule/@pluginClass"><button class="btn btn-success">Add @name module</button></a></p>
    		</div>
    	</div>
    
    	

	} 
	
	<script type="text/javascript">
  		$(document).ready(function(){
  			$("#showSettings").hide();
  			$("#global-overlay").hide();

  			$(".internal-link").click(function(event){
  				location.href = $(this).attr('href');
  				return false;
  			});
  		});
  		
    </script>

}