@(favs: List[RemoteFavorite])


@* addRemoteModule Template File *@
@main("Home Dash"){
	
} {
<h1>Add remote module</h1>
<div class="row">   		
	<div class="card col-md-9">
		<h3>Remote instance info</h3>
		<form id="instance-info">
			<div class="form-group">
				<label for="url">Remote URL</label>
				<input type="text" class="form-control" id="url" name="url" placeholder="Root URL of remote instance">
			</div>
			<div class="form-group">
				<label for="api_key">API-key</label>
				<input type="text" class="form-control" id="api_key" name="api_key" placeholder="API Key">
			</div>
			<button type="submit" class="btn btn-success">Show modules</button>
		</form>
		<br />
	</div>
	<div class="card col-md-3">
		<h3>Favorites</h3>
		<div class="favorites">
		@if(favs.size() > 0){
			@for(fav <- favs){
				<div class="favorite" id="fav-@fav.id">
					<p>@fav.name &nbsp;&nbsp;<button class=" explore-favorite btn btn-sm" data-url="@fav.url" data-apikey="@fav.apikey">Explore</button></p>
				</div>
			}
		}else{
		<p>No favorites yet. To add a favorite explore a remote instance first with the form on the left.</p>
		}
		</div>
	</div>
</div>

<div id="results">

</div>

<div id="message-box" class="success"> Plop</div>


<form id="module-info" method="post" action="/addRemoteModule">
	<input type="hidden" name="url" />
	<input type="hidden" name="api_key" />
	<input type="hidden" name="class"/>
	<input type="hidden" name="id" />
	<input type="hidden" name="name" />
</form>
<script type="text/javascript" src="@routes.Assets.at("javascripts/addRemote.js")"></script>
<script type="text/javascript">
	var CURRENT_PAGE = 1;
	$(document).ready(function() {

		if(typeof(Storage) !== "undefined") {
			var page = localStorage.getItem("page");
			if(page != undefined){
				CURRENT_PAGE = page; 
			}
		}

		var moduleForm = $('#module-info');
		moduleForm.attr('action', moduleForm.attr('action')+'/'+CURRENT_PAGE);
		
		$(".persistent-setting").hide();
		$("#global-overlay").hide();

		$(".internal-link").click(function(event) {
			location.href = $(this).attr('href');
			return false;
		});
	});
</script>

}