@* edit Template File *@
@(module: Module)

@main("Home Dash") {
	<div class="row">
		<div class="col-md-12 module">
			<h3>Settings for @module.getPlugin().getName()</h3>
			<form role="form" method="post" action="@controllers.routes.Application.saveEdittedModule(module.id)">
				<input type="hidden" name="class" value="@module.getPlugin().getClass().getName()" />
				@module.getPlugin().getSettingsView(module)
			  	<p><button type="submit" class="btn btn-primary">Submit</button></p>
			</form>
		</div>
	</div>
	
	<script type="text/javascript">
  		$(document).ready(function(){
  			$("#showSettings").hide();
  			$("#global-overlay").hide();
  		});
    </script>
}
