@* generalSettings Template File *@
@(settings: Map[String,Setting], errors:Map[String,String])

@main("Home Dash"){
	
} {
	<h1>Settings</h1>
	<form action="@controllers.routes.GlobalSettings.save" method="post">
		<div class="row">
			<div class="col-md-12 module">
				<h3>Authentication</h3>
				<div class="checkbox">
				    <label for="@Setting.AUTHENTICATE">
				    	<input type="checkbox" id="@Setting.AUTHENTICATE" name="@Setting.AUTHENTICATE" data-dep="@Setting.AUTHENTICATE" value="1"
				    		@if(settings.contains(Setting.AUTHENTICATE) && settings.get(Setting.AUTHENTICATE).value == "1"){
				    			checked
				    		}
				    	/> Use authentication
				    </label>
  				</div>
				<div class="form-group @Setting.AUTHENTICATE">
					<label for="@Setting.USER_NAME">Login</label>
					<input type="text" class="form-control" id="@Setting.USER_NAME" name="@Setting.USER_NAME" placeholder="Login"
					@if(settings.contains(Setting.USER_NAME)){
						value="@settings.get(Setting.USER_NAME).value"
					}
					/>
				</div>
				<div class="form-group @Setting.AUTHENTICATE">
				    <label for="@Setting.PASSWORD">Password</label>
				    <input type="password" class="form-control" id="@Setting.PASSWORD" name="@Setting.PASSWORD" placeholder="Password" />
				    <p class="help-block">Leave emtpy to keep the current password.</p>
				    @if(errors.contains(Setting.PASSWORD)){
				    	<span id="helpBlock" class="help-block">@errors.get(Setting.PASSWORD)</span>
				    }
  				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 module">
				<h3>Notifications</h3>
				<div class="checkbox">
				    <label for="@Setting.PUSH_BULLET">
				    	<input type="checkbox" id="@Setting.PUSH_BULLET" name="@Setting.PUSH_BULLET" data-dep="@Setting.PUSH_BULLET" value="1"
				    		@if(settings.contains(Setting.PUSH_BULLET) && settings.get(Setting.PUSH_BULLET).value == "1"){
				    			checked
				    		}
				    	/> PushBullet notifications
				    </label>
  				</div>
  				<div class="form-group @Setting.PUSH_BULLET">
				    <label for="@Setting.PUSH_BULLET_API_KEY">API Key</label>
				    <input type="text" class="form-control" id="@Setting.PUSH_BULLET_API_KEY" name="@Setting.PUSH_BULLET_API_KEY" placeholder="API key"
				    @if(settings.contains(Setting.PUSH_BULLET_API_KEY)){
						value="@settings.get(Setting.PUSH_BULLET_API_KEY).value"
					}
				    />
				    @if(errors.contains(Setting.PUSH_BULLET_API_KEY)){
				    	<span id="helpBlock" class="help-block">@errors.get(Setting.PUSH_BULLET_API_KEY)</span>
				    }
  				</div>
  				<div class="form-group">
  					<p><a class="btn btn-success" id="test-notifications">Test notifications</a></p>
  				</div>
  				
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 module">
				<h3>Remote</h3>
				<p><small>Settings for sharing your modules with other instances of HomeDash</small></p>
  				<div class="form-group">
				    <label for="@Setting.DEVICE_NAME">Device name</label>
				    <input type="text" class="form-control" id="@Setting.DEVICE_NAME" name="@Setting.DEVICE_NAME" placeholder="Device name"
				    @if(settings.contains(Setting.DEVICE_NAME)){
						value="@settings.get(Setting.DEVICE_NAME).value"
					}
				    />
				    @if(errors.contains(Setting.DEVICE_NAME)){
				    	<span id="helpBlock" class="help-block">@errors.get(Setting.DEVICE_NAME)</span>
				    }
  				</div>
  				
  				<div class="form-group">
				    <label for="@Setting.API_KEY">API Key</label>
				    <input type="text" class="form-control" id="@Setting.API_KEY" name="@Setting.API_KEY" placeholder="API key"
				    @if(settings.contains(Setting.API_KEY)){
						value="@settings.get(Setting.API_KEY).value"
					}
				    readonly/>
				    <span class="input-group-btn">
					    <button class="btn btn-success" id="generate-api" type="button">Generate API key</button>
				    </span>
				    @if(errors.contains(Setting.API_KEY)){
						<span id="helpBlock" class="help-block">@errors.get(Setting.API_KEY)</span>
					}
  				</div>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-md-12">
				<input type="submit" class="col-md-3 btn btn-primary" value="Save" />
			</div>
		</div>
	</form>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/globalSettings.js")"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#showSettings").hide();
			$("#global-overlay").hide();
		});
	</script>
}