@(modules: List[Module], pages: List[Page])

@import plugins._
@import pagetemplates._

@main("Home Dash"){
	@for(module <- modules){
		@if(module.getPlugin().hasCss()){
        	<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/"+module.getPlugin().getId()+"/css/style.css")">
        }
	}
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pages.css")">
	
} {
	<div class="spinner-black">
		<div class="spinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>
	
	<div class="bouncer">
	  <div class="bounce1"></div>
	  <div class="bounce2"></div>
	  <div class="bounce3"></div>
	</div>
	
	<div id="pages" class="pages">
		<ul>
		@for(page <- pages){
			<li>
				@pageicon(page)
			</li>
		}
			<li>
				@addpage()
			</li>
		</ul>
	</div>
	
	<div class="row" id="modules">
   	@for(page <- pages){
		<div class="page-container toFadeIn" data="@page.id">
		<h1 class="page-title">@page.name</h1>
   		@if(modules.size() > 0){
			@for(module <- modules){
						@if(page.id == module.page){
							<div id="module@module.id" data="@module.id" class="module col-md-@module.size">
								
								@if(module.getPlugin().hasBigScreen()){
									<a class="module-links internal-link" href="/big/@module.id"><span class="glyphicon glyphicon-resize-full"></span></a>
								}
								@if(module.getPlugin().getExternalLink() != null){
									<a class="module-links" target="_blank" href="@module.getPlugin().getExternalLink()"><span class="glyphicon glyphicon-new-window"></span></a>
								}
								
									
								<h3>
									@if(module.remote == Module.REMOTE){
										@module.getSettingsMap().get("name")'s 
									}
									@module.getPlugin().getName()
								</h3>
								<div style="position:relative;">
									@module.getPlugin().getSmallView(module)
								</div>
								
								@overlay(module)
							</div>
						}
				
			}
		}else{
			<p>No modules found</p>
		}
		</div>
	}
	</div>
	
	<div id="message-box" class="success"> Plop</div>
	
	
	
	
	
	
	
	<script type="text/javascript">
	 var WS_ADDRESS = "ws://" + window.location.host + "/ws";
	 var showLoadingOverlay = true;
	</script>
	
	@for(module <- modules){
		<script type="text/javascript" src="@routes.Assets.at("plugins/"+module.getPlugin().getId()+"/js/small.js")"></script>
	}
	<script type="text/javascript">
		var modules = [];
		$(document).ready(function(){
			@for(module <- modules){
				modules[@module.id] = new @{module.getPlugin().getId()}(@{module.id});
				
				modules[@module.id].documentReady();
			}
			console.log(modules);
		});
		
	</script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/index.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/settings.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/pages.js")"></script>
}


