@* login Template File *@
@(from: String, errors: Map[String, String])
<html>
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="apple-touch-icon" href="@routes.Assets.at("images/homeDash-60.png")">
		<link rel="apple-touch-icon" sizes="76x76" href="@routes.Assets.at("images/homeDash-76.png")">
		<link rel="apple-touch-icon" sizes="120x120" href="@routes.Assets.at("images/homeDash-120.png")">
		<link rel="apple-touch-icon" sizes="152x152" href="@routes.Assets.at("images/homeDash-152.png")">
		<link rel="apple-touch-startup-image" href="@routes.Assets.at("images/homeDash-startup-small.png")">
		
        <title>HomeDash</title>
        <!-- Latest compiled and minified CSS -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,300italic' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/animations.css")">
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.js")"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
		<script src="@routes.Assets.at("javascripts/jquery.ui.touch-punch.min.js")"></script>
    </head>
    <body>
    	<div class="container">
	    	<div class="row">
	    		<div class="col-md-offset-4 col-md-4 module">
    				<h1>HomeDash</h1>
    				@if(errors.contains(Setting.PASSWORD)){
			    		<div class="alert alert-danger" role="alert">@errors.get(Setting.PASSWORD)</div>
			    	}
	    			<form method="post" action="/login">
	    				<input type="hidden" name="from" value="@from"/>
	    				<div class="form-group">
							<label for="@Setting.USER_NAME">Login</label>
						    <input type="text" class="form-control" id="@Setting.USER_NAME" name="@Setting.USER_NAME">
						</div>
						  <div class="form-group">
						  	<label for="@Setting.PASSWORD">Password</label>
						 	<input type="password" class="form-control" id="@Setting.PASSWORD" name="@Setting.PASSWORD" >
						</div>
						<p>
							<input type="submit"  value="Login" class="col-md-3 btn btn-primary" />
						</p>
						<br/><br />
	    			</form>
	    		</div>
	    	</div>
	    	
    	</div>
    	
    	@footer()
    </body>
</html>