@* overlay Template File *@
@(module: Module)
<div class="module-settings-overlay" data-moduleId="@module.id">
 	<div>
 		<ul class="floatRight">
 		
			@if(module.getPlugin().hasSettings() && module.remote == Module.LOCAL){
				<li><a href="@controllers.routes.Application.editModule(module.id)" class="internal-link module-setting-link"><i class="fa fa-wrench"></i></span></a></li>
			}
			<li><a data="@module.id" class="setting-action module-setting-link" action="move"><i class="fa fa-th-large"></i></a></li>
			<li><a href="@controllers.routes.Application.deleteModule(module.id)" class="internal-link module-setting-link"><i class="fa fa-remove"></i></a></li>
					
 		</ul>
 		<ul>
			<li><a data="@module.id" class="overlay-settings module-setting-link" action="shrink"><i class="fa fa-compress"></i></a></li>
			<li><a data="@module.id" class="overlay-settings module-setting-link" action="expand"><i class="fa fa-expand"></i></a></li>
		</ul>
		<div class="sort-module">
			<p>Drag to reorder</p>
		</div>
 	</div>
</div>