@* overlay Template File *@
@(module: Module)
<div class="module-settings-overlay" data-moduleId="@module.id">
 	<div>
 		<ul class="floatRight">
			@if(module.getPlugin().hasSettings()){
				<li><a href="@controllers.routes.Application.editModule(module.id)"><span class="glyphicon glyphicon-wrench"></span></a></li>
			}
			<li><a href="@controllers.routes.Application.deleteModule(module.id)"><span class="glyphicon glyphicon-remove"></span></a></li>
					
 		</ul>
 		<ul>
			<li><a data="@module.id" class="overlay-settings" action="shrink"><span class="glyphicon glyphicon-resize-small"></span></a></li>
			<li><a data="@module.id" class="overlay-settings" action="expand"><span class="glyphicon glyphicon-resize-full"></span></a></li>
		</ul>
		<div class="sort-module">
			<p>Drag me to re-order</p>
		</div>
 	</div>
</div>